<div class="bar-container">
  <div class="bar-container-contain">
    <div class="logo">
      <a href="/"><img src="./../../../../assets/logo.png" /></a>
    </div>
    <div class="bar-container-contain-section">
      <div class="sections">
        <a> Notre offre</a>
        <a> Clients</a>
        <a> Nos développeurs </a>
        <a> A propos de nous </a>
      </div>
      <div class="bar-container-contain-recruter">
        <button class="primary-button">Recruter un développeur</button>
      </div>
    </div>
  </div>
</div>
